body {
    background-color: #19171c;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #dad8de
}

.section-titles {
    background-color: #dad8de;
    color: black;
    font-size: 3rem;
    padding: 1.5rem;
    border-bottom: 3px solid #6441a4;
    font-weight: 400;
    font-family: Helvetica Neue, sans-serif;
    /*flex: 1;*/
}

.section-titles:hover {
    background: rgba(0, 0, 0, 0.3);
}

.content {
    /*flex: 1;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    border-bottom: 3px solid #6441a4;
}


/*.content div {
    height: 250px;
    width: 250px;
    border: 1px solid blck;
}*/

.dummy {
    height: 250px;
    width: 250px;
    /*width: 33%;
    height: 33%;*/
    /*flex: 1;*/
    /*border: 1px solid black;*/
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    justify-content: center;
    /*align-content: center;*/
    /*align-items: center;*/
    padding: 10px;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
}

.delete-dummy {
    background-color: rgba(0, 0, 0, 0.3);
}

.dummy .logo {
    height: 100px;
    width: 100px;
}

.dummy .title {
    display: block;
    font-size: 2em;
    width: 100%;
    text-align: center;
}

.dummy .bio {
    display: block;
    overflow: hidden;
    max-height: 33%;
}

.screenshot {
    width: 272px;
    height: 136px;
}

.form-message {
    width: 100%;
    align-self: flex-end;
    order: 2;
    color: red;
}

.add-form {
    width: 50%;
    align-self: flex-end;
    order: 3;
    /* margin-top: 20px; */
    display: flex;
    /*justify-content: center;*/
}

.control-buttons {
    width: 50%;
    align-self: flex-end;
    order: 4;
    display: flex;
    justify-content: flex-end;
}

.input-field {}

.add-button {}

.remove-button {
    /* justify-content: flex-end; */
}

.remove-all-button {
    /* justify-content: flex-end; */
}