body {
    background-color: #C7C6C6;
    font-family: Helvetica Neue, sans-serif;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #dad8de
}

.section-titles {
    background-color: #dad8de;
    color: black;
    font-size: 3rem;
    padding: 1.5rem;
    border-bottom: 3px solid #6441a4;
    font-weight: 400;
    text-align: center;
}

.streams-div {
    border-top: 3px solid #6441a4;
}

.section-titles:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    border-bottom: 3px solid #6441a4;
    padding: 15px;
}

.dummy {
    height: 250px;
    width: 250px;
    height: 33%;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5%;
    box-shadow: 5px 5px 5px #888888;
    text-align: center;
}

.delete-dummy {
    background-color: #C7C6C6;
    background-color: rgba(0, 0, 0, 0.1);
}

.dummy .logo {
    height: 100px;
    width: 100px;
}

.dummy .title {
    display: block;
    font-size: 2em;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.dummy .bio {
    display: block;
    overflow: hidden;
    max-height: 33%;
    padding: 10px;
}

.screenshot {
    width: 272px;
    height: 136px;
}

.form-message {
    width: 100%;
    align-self: flex-end;
    order: 2;
    color: red;
}

.add-form {
    width: 50%;
    align-self: flex-end;
    order: 3;
    display: flex;
}

.control-buttons {
    width: 50%;
    align-self: flex-end;
    order: 4;
    display: flex;
    justify-content: flex-end;
}